%h4
  1. Install and configure the necessary dependencies
%p
  On CentOS, the commands below will also open HTTP and SSH access in the system firewall.
%pre.command
  = platform.dependency_commands
  = platform.firewall_open
  %button{ copy_btn_options("#{platform.dependency_commands}\r\n#{platform.firewall_open}\r\n") }
    %i.fa.fa-clipboard
%p
  Next, install Postfix to send notification emails. If you want to use another solution to send emails please skip this step and
  %a{ href: "https://docs.gitlab.com/omnibus/settings/smtp.html" } configure an external SMTP server
  after GitLab has been installed.
%pre.command
  = platform.postfix_commands
  %button{ copy_btn_options("#{platform.postfix_commands}\r\n") }
    %i.fa.fa-clipboard
%p
  During Postfix installation a configuration screen may appear. Select 'Internet Site' and press enter. Use your server's external DNS for 'mail name' and press enter. If additional screens appear, continue to press enter to accept the defaults.
%h4
  2. Add the GitLab package repository and install the package
%p
  Add the GitLab package repository.
%pre.command
  = "#{platform.download_command}\n"
  %button{ copy_btn_options("#{platform.download_command}\r\n") }
    %i.fa.fa-clipboard
%p
  Next, install the GitLab package. Change `http://gitlab.example.com` to the URL at which you want to access your GitLab instance.  Installation will automatically configure and start GitLab at that URL. HTTPS requires
  %a{href: "https://docs.gitlab.com/omnibus/settings/nginx.html#enable-https"}additional configuration
  after installation.
%pre.command
  = "#{platform.install_commands}"
  %button{ copy_btn_options("#{platform.install_commands}\r\n") }
    %i.fa.fa-clipboard
%h4
  3. Browse to the hostname and login
:markdown
  On your first visit, you'll be redirected to a password reset screen. Provide the password for the initial administrator account
  and you will be redirected back to the login screen. Use the default account's username `root` to login.

  See our [documentation for detailed instructions on installing and configuration](https://docs.gitlab.com/omnibus/README.html#installation-and-configuration-using-omnibus-package).

.display-extra-links
  %ul
    %li
      %a{ href: "https://docs.gitlab.com/omnibus/" }
        Troubleshooting
    %li
      %a{ href: "http://docs.gitlab.com/omnibus/manual_install.html" }
        Manual installation
    %li
      %a{ href: "/installation/ce-or-ee/?distro=#{link_back}" }
        CE or EE
