@import "variables";

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.fill-form {
  text-align: center;
  font-size: 23px;
  margin-top: 38px;
}

.action {
  margin: 3% 15% -12%;
}

.centered-form-info {
  margin-bottom: 2em;
  font-size: 20px;
  color: $color-primary;

  &.small-text {
    font-size: 14px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.sales,
.free-trial {
  .content-container {
    padding-bottom: 100px;
    background-color: $color-white;
    border-top: 1px solid $landing-organization-color;
  }

  .footer {
    margin-top: 0;
  }
}

.free-trial .centered-form {
  margin-bottom: 4em;

  .centered-form-info {
    padding: 15px;
  }
}
