---
layout: default
title: Find a Speaker
suppress_header: true
description: Find a speaker page
extra_css:
  - speakers.css
---

- regions = data.speakers.flat_map { |speaker| speaker.region }.uniq.reject { |region| region.nil? }

.container-fluid.landing
  .col-md-8.col-md-offset-2
    .text-center
      %h1
        Organizing an event? Looking for a speaker from GitLab?
      %h3
        Look no further. Here's a list of awesome speakers from the GitLab team and wider community. Feel
        free to reach out directly to the speakers listed.

.container-fluid.speakers
  .col-md-10.col-md-offset-1
    .text-center
      %h2
        - regions.each do |region|
          = link_to region, "##{region.delete(' ')}"
          | 
        = link_to "Couldn't find a speaker?", "#contact-us"
    .speaker-list
      - regions.each do |region|
        %h2.text-center.region-title{ id: "#{region.delete(' ')}" }
          = region
        - data.speakers.select { |speaker| speaker.region == region && speaker.status == 'active' }.each_slice(3) do |speaker_group|
          .row
            - speaker_group.each do |speaker|
              .col-md-4
                .speaker-container
                  .text-center
                    .speaker-header
                      %h3
                        = speaker.name
                      %p= link_to speaker.location, "https://maps.google.com/?q=#{escape_html(speaker.location)}"
                      %p= speaker.specialty
                      %p= link_to speaker.email, "mailto:#{speaker.email}"
                    - if speaker.presentations.present?
                      .speaker-presentations
                        %h4
                          Presentations:
                        %ul.presentation-list
                          - speaker.presentations.each do |presentation|
                            %li
                              = link_to scrape_title(presentation), presentation

.container-fluid.contact-us#contact-us
  .col-md-8.col-md-offset-2
    .text-center
      %h1
        Still couldn't find a speaker?
      %h3
        Reach out via the form below, we'll try to find one for you.

  %iframe{src: "https://docs.google.com/forms/d/e/1FAIpQLSc6jQWbh-63myQu7EBuZZ0KY2J_EKSAZPH6OP2TURNBmfMjtg/viewform?embedded=true", width: "1000", height: "1000", frameborder: "0", marginheight: "0", marginwidth: "0"}
    Loading...
